*.iml
.gradle
/.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/build/outputs/apk/app*
app/build/generated
app/build/intermediates/
app/build/outputs/l*